@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}
  
@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}
  
@font-face {
    font-family: "IBM Plex Mono";
    src: url(fonts/IBMPlexMono-Medium.ttf);
}
  
* {
    margin: 0;
    padding: 0;
}
  
header {
    border-bottom: 1px solid #A1A6B4;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999999;
}
  
.header-container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 0 auto;
}
  
.header_logo {
    max-width: 215px;
    width: 100%;
    margin-left: 10px;
}
  
ul,
li {
    list-style-type: none;
    display: inline-flex;
    gap: 24px;
}
  
a {
    text-decoration: none;
}
  
.header_link {
    color: #000;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
  
main {
    background: #f1f1f1;
    padding: 32px 16px;
}
  
h2 {
    font-family: "Anonymous Pro";
    font-size: 48px;
    color: #121723;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
  
.lead_text {
    margin: 0 auto;
    padding-bottom: 32px;
    max-width: 1140px;
}
  
.sneakers {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
  
.sneaker {
    max-width: 364px;
    width: 100%;
    border-radius: 12px;
    border: 0px solid #A1A6B4;
    height: auto;
    transition: box-shadow ease-in-out 400ms, transform ease-in-out 200ms;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 0px solid #A1A6B4;
    background: #fff;
}
  
.sneaker-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 0px solid #A1A6B4;
    max-width: 364px;
    width: 100%;
    height: auto;
}
  
.sneaker-name {
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    gap: 12px;
    background: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 0px solid #A1A6B4;
}
  
.sneaker:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
}
  
h3 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    color: #121723;
}
  
p {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #121723;
    line-height: 28px;
}
  
footer {
    background: #121723;
}
  
.footer-container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 32px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #E6E8EC;
}
  
.footer_logo {
    max-width: 300px;
    width: 100%;
}
  
.footer_link {
    color: #fff;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
  
.footer-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
  }
  
.footer-container-bottom-text {
    color: #A1A6B4;
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.sneaker-details {
    box-sizing: border-box;
    padding: 48px;
    max-width: 1140px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}
  
.sneaker-details-image {
    border-radius: 50px 50px 0px 0px;
    max-width: 1044px;
    width: 100%;
}
  
.sneaker-details-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
  
.title {
    color: #121723;
    font-family: Anonymous Pro;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 0px;
    padding-top: 32px;
}
  
.subtitle {
    color: #121723;
    font-family: Anonymous Pro;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.sneaker-details-text {
    border-radius: 0px 0px 50px 50px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}
  
.sneaker-details-description {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 506px;
    width: 100%;
}
  
.sneaker-details-parameters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 506px;
    width: 100%;
}
  
#about {
    color: #121723;
    font-family: Anonymous Pro;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
.parameter {
    display: flex;
    justify-content: space-between;
}
  
.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
.line {
    height: 1px;
    color: #121723;
}
  
@media (max-width: 768px) {
    .header-container,
    .footer-container {
      flex-direction: column;
      justify-content: center;
    }
  
    h2 {
      font-size: 32px;
      padding-left: 24px;
    }
  
    .sneakers {
      justify-content: center;
    }
  
    .sneaker {
      margin: 0 auto;
    }
  
    .sneaker-details {
      padding: 24px;
      align-items: center;
    }
  
    .title {
      font-size: 32px;
    }
  
    .subtitle {
      font-size: 20px;
    }
  
    .sneaker-details-description,
    .parameters {
      font-size: 16px;
    }
  
    #about {
      font-size: 24px;
    }
}